body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Josrfin Sans' sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(img2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo span{
    color: red;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
nav ul li a:hover{
         color: red;
         transition: .5s;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.3);
    transition: .3s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 600px;
}
h1{
    color: white;
    margin:10px 0px 10px;
    font-size: 75px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
p{
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.middle{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5 span{
    color: red;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
    margin-bottom: 65px;

}
button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.Skills{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.tittle h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 50px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra{
    color: #fcfc;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}
.card .button{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .5s;  
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact{
    color: red;
}
.contact-mobile{
 margin-top: 20px;
 color: red;
 text-decoration: none;
}
.contact:hover{
    transform: scale(1.3);
}
.contact-mobile:hover{
    transform: scale(1.3);
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.socail{
    display: flex;
}
.socail a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}
.socail a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{   
    color: #f9004d;
    font-size: 14px;
}